.GoingToSelect {
  width: 400px;
  margin-bottom: 10px;
  height: 150px;
  background-color: aqua;
}
.pickerinput {
  /* padding: 10px; */
  /* margin: 5px; */
  height: 150px;
  /* width: 200px; */
  color: blueviolet;
  background-color: blue;
}
