/* .navbar {
  padding-left: 10rem;
  padding-right: 10rem;
  border-style: solid;
  border-color: rgb(180, 179, 179);
  border-width: 0.1px;
  border-top: none;
  border-left: none;
  border-right: none;
  
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.myNavbar {
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  display: grid;

  height: 75px;
  border-style: solid;
  border-color: rgb(180, 179, 179);
  border-width: 0.1px;
  border-top: none;
  border-left: none;
  border-right: none;
}
/* .expedia {
  display: grid;
  margin-top: 20px;

  /* background-color: #3b5998; */
/* grid-column: 2/3;
  justify-content: start; */
/* align-items: right; */
/* }  */
a {
  text-decoration: none;
}

li {
  list-style: none;
}
.nav-links {
  grid-column: 3/4;
}
.nav-links ul {
  height: 10rem;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}
.english,
.support,
.trips,
.signin,
.test {
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding: 5px 5px;
  margin: 0 10px;
  /* background-color: blueviolet; */
  cursor: pointer;
  /* width: 25%; */
}
.mobile-menu-icon {
  display: none;
}
/* .english:active {
  font-weight: bold;
}
.support:active {
  font-weight: bold;
}
.trips:active {
  font-weight: bold;
}
.signin:active {
  font-weight: bold;
}
.test:active {
  font-weight: bold;
  color: blue;
} */

@media screen and (max-width: 780px) {
  .log {
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px;
  }
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    text-decoration: none;
    background-color: aqua;
    left: 0;
    top: 75px;
    transition: all 0.5s ease-out;
    width: 100%;
  }
  .english,
  .support,
  .trips,
  .signin,
  .test {
    /* text-decoration: none; */
    color: black;
    /* font-size: 15px; */
    padding: 32px;
    /* margin: 0 10px; */
    /* background-color: blueviolet; */
    /* cursor: pointer; */
    /* width: 25%; */
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5sec ease;
  }
  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    color: black;
    top: 15px;
    right: 25px;
  }
}
